@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
    background-color: #fff;
    overflow-x: hidden;
}

/* NAV*/

.nav {
    padding: 24px 0;
}

.nav__container {
    padding: 0 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo__img {
    width: 40px;
    height: 40px;
}

.logo__text {
    font-size: 24px;
    font-weight: 900;
    color: #1a202c;
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 48px;
    list-style: none;
}

.nav__separator {
    margin-left: 102px;
}

.nav__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a202c;
    transition: color 0.3s ease;
}

.nav__link:hover {
    color: #7c3aed;
}

.nav__link-primary {
    padding: 12px 32px;
    background-color: #7c3aed;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 9999px;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
}

.nav__link-primary:hover {
    background-color: #6d28d9;
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(124, 58, 237, 0.3);
}

/* HEADER*/


.header__description {
    width: 40%;
}

.container__header {
    padding: 96px 0;
    align-items: flex-end;
}

h1 {
    font-size: 56px;
    color: #1a202c;
    line-height: 1.25;
}

.purple {
    color: #6d28d9;

}

.header__description--para {
    font-size: 16px;
    margin: 32px 0;
    max-width: 1280px;

}

.header__email {
    width: 1280px;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.header__row {
    padding: 0 90px;
    display: flex;
    align-items: center;
    gap: 0px;

}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;

}

.header__email--btn:hover {
    background-color: #6d28d9;
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(124, 58, 237, 0.3);
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;

}

.header__customers--title {
    margin-top: 16px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;


}

.header__customers {
    margin-top: 16p;
    opacity: 0.5;
    max-width: 450px;
    padding-right: 64px;
}

.header__img--wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;


}

.header__img {
    width: 500%;
    max-width: 900px;
}


/*#MAIN*/

main {
    margin-bottom: 96px;
}

#features {
    position: relative;
}

.container__main {
    padding: 96px 0;
}

.feature__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 32px 24px;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.125em;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    text-align: center;
    max-width: 576px;
    margin: 12px 0;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 0 90px;
}

.feature {
    width: calc(100% / 3);
    padding: 15px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature .feature__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 3px solid #e5e7eb;
    border-radius: 500px;
    flex-shrink: 0;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 0;
    margin-left: 0;
}

.feature__title {
    font-size: 29px;
    font-weight: 700;
    color: #243e63;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    color: rgb(124, 139, 161);
    line-height: 1.625;
    font-weight: 500;
}

/*QUALITY*/

#quality {
    padding: 0 32px;
}

.container__qualy {
    padding: 96px 0;
}

#quality .row__quality {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.row__quality {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}


.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.section__para--quality {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    max-width: 576px;
}

.btn {
    border: none;
    background-color: #6415ff;
    padding: 20px 32px;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
    width: 180px;
}

.btn:hover {
    background-color: #6d28d9;
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(124, 58, 237, 0.3);
}


.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__img {
    z-index: 1;
    width: 100%;
}

.btn {
    margin-top: 32px;
}

/*STEPS*/

#steps {
    padding: 0 32px;
}

.container__step {
    padding: 96px 0;
}

.row__steps {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper {
    width: 50%;
    display: flex;
    position: relative;
}

.steps__img {
    z-index: 10;
    width: 100%;
}

.steps__description {
    padding: 32px 0;
    padding-left: 104px;
    width: 50%;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.step {
    display: flex;
    align-items: flex-start;
    margin: 32px;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}



.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;

}

/*VALUES*/

#values {
    padding: 0 32px;
}

.container__values {
    padding: 96px;
}

.values__description {
    padding: 100px 50px;
}

.row__values {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.value__description,
.value__img {
    width: 50%;

}

.value__description {
    padding: 32px 64px 32px 0;
}

#values .section__title {
    margin-top: 16px;
    margin-bottom: 32px;
}

.values__list {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    flex-direction: none;
}

.value {
    max-width: 50%;
    margin-right: 10px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.values__img {
    width: 50%;
}

.value:nth-of-type(2) {
    margin-top: 32px;

}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

.value__title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(36, 62, 99);
}


.value__para {
    margin-bottom: 0%;
    line-height: 1.625;
    color: rgb(113, 128, 150);
}

.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}



/*PRICING*/

#pricing {
    padding: 0 32px;
}

.container__pricing {
    padding: 96px 0;

}

.row__pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.plans {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.plan {
    position: relative;
    margin-top: 4rem;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    margin-right: 2rem;
    text-align: center;
    color: rgb(26, 32, 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    ;
}

.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 10px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625px;

}

.plan__name {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.625;
}

.plan__price {
    color: #1a202c;
    font-size: 48px;
    margin: 4px 0;
    font-weight: bold;
    line-height: 1.625;
}

.plan__duration {
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    line-height: 1.625;
}

.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;

}

.p {
    font-size: 18px;
    line-height: 1.5;
}



.plan__bottom {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.plan__button {
    border-radius: 0.25rem;
    background-color: rgb(100 21 255);
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: rgb(247 250 252);
    width: 100%;
    transition: all 300ms ease;
    border-radius: 100px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;

}


.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}


.plan:nth-child(2) .plan__name,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__target,
.plan:nth-child(2) .plan__duration,
.plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(2) .plan__button {
    color: #6415ff;
    background-color: #f7fafc;
}

.plan__button:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.plan:nth-child(3) .plan__stripe,
.plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/*TESTIMONIO*/

#testimonial {
    padding: 0 32px;
}



.testimonials__img {
    width: 50%;
}

.container__testimonial {
    padding: 96px 0;
}

.row__testimonial {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.testimonial {
    margin-top: 40px;
}


.testimonial__tittle {
    color: #4a5568;
    line-height: 1.625;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74, 85, 104);
}

.testimonial__buttom {
    display: flex;
    justify-content: space-between;
}

.rating__img {
    width: 20%;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #edf2f7;
    height: 20px;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms ease;
    border: none;
}

.testimonial__button svg {
    width: 16px;
    height: 16px;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__name {
    color: #4a5568;
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

/*START*/

#start {
    padding: 0 32px;

}

.container__start {
    padding: 96px 0;
}

.row__start {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    align-items: 1.5;
    z-index: 2;
}

.start__title,
.start__buttons {
    width: 50%;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;

}
.start__button:hover:nth-child(1) {
background-color: rgb(229, 62, 62);
}
.start__button:hover:nth-child(2) {
background-color: rgb(247, 250, 252);
color: rgb(100, 21, 255);
}

.start__button {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025;
    margin: 1px;
    z-index: 2;
    border: none;
}

.start__button:nth-child(1) {
    background-color: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
    transition: 300ms ease;
}

.start__button:nth-child(2) {
    border: 1px solid rgb(160, 174, 192);
    transition: 300ms ease;
}


/*FOOTER*/

footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.row__footer {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: #f7faf7;
    line-height: 1.5;
}


.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__column--link {
    color: #f7faf7;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--text {
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__socials {
    display: flex;
    align-items: center;
    margin-left: -16px;
}

.footer__social--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
}

